body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fdf4f4;
}
h1 {
    margin-top: 40px;
    color: #302c2c;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    margin: 15px 0;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #0056b3;
    color: white;
    border-radius: 5px;
}
button:hover {
    background-color: #241f1b;
}